html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
button {
  font-size:40px;
  border-radius:0;
  padding:0 5px;
  border:none;
  margin:0;
  background-color:rgb(0, 0, 0);
  color:rgb(255, 251, 0);
}